
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(https://cdn.discordapp.com/attachments/727761133544538132/966685794305732678/unknown.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}
nav{
    color: white;
    position: fixed;
    padding: 0 0 0 10px;
    float: left;
}
nav ul{
    list-style: none;
    padding: 0 0;
}
nav ul li{
    margin: 10px 0 0 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
nav img{
    height: 70px;
    float: left;
    padding: 15px 0 0 35px;
    margin-top: 20px ;
}
.nav-links{
    margin: 200px 0 0 0;
}
nav a{
    text-decoration: none;
    position: relative;
    color: white;
}
nav a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s;
}
nav a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
} 
nav a:hover{
    color: white;
}
.container{
    margin: 0 0 0 150px;
    color: white;
    padding: 40px 0 0 50px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    float: right;
    width: 1100px;
    pointer-events: none;
}

.top-btn{
    position: fixed;
    bottom: 100px;
    right: 130px;
    width: 10px;
    height: 0px;
    border-radius: 50%;
}
@media screen and (max-width: 1200px){
        nav{
            color: white;
            position: absolute;
            padding: 0 0 0 10px;
            float: left;
        }
    }
